<div class="container m-5 p-10 rounded mx-auto bg-dark ">
    <div class="row m-1 p-4">
      <div class="col">
          <div class="p-1 h1 text-primary text-center mx-auto display-inline-block me-2">
              <i class="fa fa-check bg-primary text-white rounded p-2"></i>
              <u>My Todo-s</u>
          </div>
      </div>
  </div>
    <div class="row text-center">
      <div class="col-12">
        <div class="input-group w-100 mb-2">
          <input [(ngModel)]="inputToDoText"  type="text" class="form-control" placeholder="Enter Todo.." aria-label="Enter Todo..."
            aria-describedby="button-addon2">
          <button (click)="addToDo()"class="btn btn btn-success w-25 p-3" type="button" id="button-addon2">Add</button>
        </div>
      </div>
  
      <div class="col-12">
        <table class="table border-primary table-light table-hover table-bordered rounded rounded-3 overflow-hidden">
          <tbody>
            <tr class="h5" *ngFor="let toDo of toDos; let i = index" >
              <td>{{toDo.id}}</td>
              <td class="{{ toDo.completed ? 'done' : '' }}" >{{toDo.title}}</td>
              <td>
                <button (click)="combleteTodo(i)"  class="btn btn-success me-2" type="button"><i class="fa fa-check "></i></button>
                <button (click)="deleteToDo(i)" class="btn btn-danger" type="button"><i class="far fa-trash-alt"></i></button>
              </td>
            </tr>
  
          </tbody>
        </table>
      </div>
    </div>
  </div>
  
  